@media screen and (min-width:500px){
   body{
      background-color: green;
   }
   .nav-link{
      text-decoration: none;
      color: rgba(77, 72, 72, 0.87);
   }
   
   section img{
      width:15%;
   }
   nav svg{
      display:none;
   }
   nav ul{
      max-width: 70%;
      display: flex;
      flex-direction: row;
      padding-top: 10%;
      justify-content:space-around;
      /* padding: 0 50%; */
   }
   ul li:first-child{
      font-weight:800;
  }
   
  ul li {
      display: flex;
      padding: 0 1.5%;
   
  }
   
  .nav-link:hover{
     color: rgb(252, 59, 10);
  }
  
  .welcome-section{
   width:100%;
   display: flex;
   flex-wrap: nowrap;
   position: relative;
   text-align: center;
   color:whitesmoke;
   word-spacing: 7px;
   letter-spacing: 2px;
   font-weight: 800;
}

main h1{
  
   position: absolute;
   top: 30%;
   left: 52%;
   transform: translate(-50%, -50%);
   font-size:50px;
   font-weight: 400;
  
   /* font-display:inherit; */
}
 
.work-img{
   width:100%;
}
 
main h2{
   position: absolute;
   top: 40%;
   left: 52%;
   transform: translate(-50%, -50%);
   font-weight: 400;
  
}

.learn-more{
   position: absolute;
   top: 60%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: rgb(255, 68, 0);
   border-radius: 5%;
   width: 200px;
   height: 70px;
   word-spacing: 7px;
   letter-spacing: 2px;
   font-size: 20px;
   font-weight: 400;
   border: none;
}
 
.introduction{
   width:100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding-top: 100px;
  
}
 
section h2{
   width:100%;
   font-size: 40px;
   font-weight: 400;
   color: rgba(77, 72, 72, 0.87);
   position:absolute;
   left: 35%;
  
}
 
.icons-section{
   width:60%;
   padding-top: 8%;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-evenly;
  
}
 
.icons{
  
   height: 50%;
   width: 60%;
 
}
 
.icons-desc{
   width: 120%;
   font-weight: 500;
   color: rgba(77, 72, 72, 0.87);
   font-size: 150%;
   padding-top: 2%;
  
  
}
 
.first-icon, .second-icon, .third-icon {
   width: 20%;
   padding-left: 5%;
}
 
footer {
   width: 100%;
   display: flex;
   flex-direction: column;
   padding-top: 5%;
}
 
footer h4{
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;
   font-size:small;
   color: rgba(77, 72, 72, 0.87);
  
}
 
.footer-social{
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content:center;
  
  
  
 
}
 
 
 
.social{
   display: flex;
   flex-direction: row;
   padding-left: 3%;
   width: 2%;
}


   
}