.blockquote {
/* content: \0022;     */
position: absolute;
width: 24px;
height: 79px;
left: 766px;
top: 1831px;

font-family: 'Roboto';
font-style: italic;
font-weight: 400;
font-size: 56px;
line-height: 100%;
/* or 56px */

display: flex;
align-items: center;
text-align: center;

/* Burnt orange */

color: #E0633A;

}