* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: white;
}

nav {
  background-color: white;
  height: 60px;
  width: 100%;
}

img.logo {
  width: 20px;
  height: auto;
  margin: 10px;
  margin-left: 40px;
}

nav ul {
  float: right;
  margin: 0 20px;
}

nav ul li {
  display: inline;
  line-height: 60px;
  margin: 0 5px;
}

nav ul li a {
  color: rgb(68, 67, 67);
  font-size: 20px;
  padding: 5px 10px;
}

a:hover {
  color: rgb(197, 58, 58);
  transition: 0.5s;
}

.menubutton {
  float: right;
  color: rgb(68, 67, 67);
  font-size: 20px;
  line-height: 60px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

main {
  width: 100%;
  border: 3px blue solid;
}
/* HERO */
#hero {
  display: block;
  min-height: 400px;
  background: url("../img/first-background.jpg") no-repeat;
  background-size: cover;
  background-position: right;
  color: whitesmoke;
}

#hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: auto;
  text-align: center;
  padding: 20%;

  border: 3px solid green;
}

#hero h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  border: 3px blue solid;
}

#hero p {
  font-size: 15px;
  margin: 10px;
  border: solid 3px blue;
}

#hero button {
  margin-top: 20px;
  width: 120px;
  height: 120px;
  font-size: 14px;
  background-color: rgb(225, 106, 66);

  border: 3px blue solid;
}

/* Middle Title*/
#middle {
  margin-top: 40px;
  padding: 10px;
  align-items: center;
}
#middle p {
  font-size: 20px;
  text-align: center;
  color: rgb(75, 74, 74);
}

/*Boxes*/
#boxes div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  border: crimson 3px solid;
}

#boxes div .box {
  width: 120px;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: crimson 3px solid;
}

/*Hamburger Menu*/
@media (max-width: 780px) {
  .menubutton {
    display: block;
  }
  ul {
    position: fixed;
    width: 50%;
    height: auto;
    background: whitesmoke;
    top: 60px;
    right: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 10px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 12px;
  }
  #check:checked ~ ul {
    right: 0;
  }
  #boxes div {
    flex-direction: column;
  }
}
