body {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  background-color: white;
}

nav {
  background-color: white;
  height: 60px;
  width: 100%;
}

img.logo {
  width: 20px;
  height: auto;
  margin: 1rem;
  margin-left: 2rem;
}

nav ul {
  float: right;
  margin: 0 0;
}

nav ul li {
  display: inline;
  line-height: 60px;
  margin: 0 5px;
}

nav ul li a {
  color: rgb(68, 67, 67);
  font-size: 1.8rem;
  padding: 5px 10px;
  text-decoration: none;
}

a:hover {
  color: rgb(197, 58, 58);
  transition: 0.5s;
}

.menubutton {
  float: right;
  color: rgb(68, 67, 67);
  font-size: 1.6rem;
  line-height: 60px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

main {
  width: 100%;
}
/* HERO */
#hero div {
  min-height: 200px;
  background: url("../img/first-background.jpg") no-repeat;
  background-size: cover;
  background-position: right;
  color: whitesmoke;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  text-align: center;
  padding: 20%;
}

#hero h1 {
  font-size: 2rem;
}

#hero p {
  font-size: 1.6rem;
  margin: 10px;
}

#hero button {
  margin-top: 1vh;
  width: 100px;
  height: 40px;
  font-size: 1rem;
  background-color: rgb(225, 106, 66);
}

/* Middle Title*/
#middle {
  margin-top: 40px;
  padding: 10px;
  align-items: center;
}
#middle p {
  font-size: 20px;
  text-align: center;
  color: rgb(75, 74, 74);
}

/*Boxes*/
#boxes div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

#boxes div .box {
  width: 120px;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: rgb(218, 211, 211);
  height: 1px;
  margin: 10px;
}

/* ADS */
#ads {
  min-height: 100px;

  background-color: papayawhip;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: auto;
  text-align: center;
}

#ads .image {
  width: 100%;
  min-height: 10rem;
}

#ads .text-button {
  width: 100%;
  min-height: 10rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#ads img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

#ads p {
  width: 70%;

  font-size: 1rem;
  color: black;
  font-style: italic;
  opacity: 0.8;
}

#ads button {
  margin-top: 1vh;
  width: 8rem;
  height: 2rem;
  font-size: 0.8rem;
  background-color: rgb(225, 106, 66);
  color: whitesmoke;
}

/*Footer*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px;
  align-items: center;
}

footer .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  width: 40px;
  margin: 10px;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid rgb(209, 207, 207);
}

/*Hamburger Menu*/
@media (max-width: 780px) {
  .menubutton {
    display: block;
  }
  ul {
    position: fixed;
    width: 35%;
    height: auto;
    background: whitesmoke;
    opacity: 0.6;
    top: 60px;
    right: -90%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 10px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 1rem;
  }
  #check:checked ~ ul {
    right: 1.5%;
  }
  #boxes div {
    flex-direction: column;
  }
  #ads {
    flex-direction: column;
  }
}
