/* Variables */

:root {
    --orange: #e0633a;
    --light-grey: rgba(196, 196, 196, 0.1);
    --dark-grey: rgb(68, 67, 67);
    --grey: grey;
    --very-light-grey: rgb(238, 238, 238);
    --text-grey: rgb(163, 159, 159);
    --white: white;
    --pink-orange: rgba(255, 162, 145, 0.637);
}

body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
}


/* Header */

header {
    padding: 0 5rem;
    justify-content: space-between;
    background: var(--light-grey);
}


/* Logo */

header img {
    height: 2rem;
    width: 2rem;
}


/* Nav Links */

ul {
    list-style-type: none;
}

li {
    padding: 0.5rem;
    align-self: center;
}

a {
    text-decoration: none;
    color: var(--grey);
}

a:hover,
span {
    color: var(--orange);
}

span {
    font-weight: 500;
}

.active-link {
    color: var(--dark-grey);
    font-weight: 500;
}

strong {
    font-weight: 500;
}


/* Hamburger Menu */

.hamburger-menu {
    display: none;
}

hr {
    width: 90vw;
    margin: auto;
    height: 2px;
    background-color: var(--very-light-grey);
    border: none;
}


/* Footer */

h3 {
    font-weight: 400;
    font-size: 1.375rem;
}

footer a {
    width: fit-content;
    margin: 10px;
    border: 1px solid var(--very-light-grey);
    border-radius: 50%;
    display: inline-flex;
}

footer img {
    height: 20px;
    padding: 15px;
}

footer p {
    color: var(--text-grey);
    font-size: 1.25rem;
    margin-bottom: 100px;
}


/* Button and submit */

button,
input[type="submit"] {
    background: var(--orange);
    padding: 7px 15px;
    border: none;
    width: fit-content;
    border-radius: 5px;
    font-size: 1rem;
    color: var(--white);
}


/* General Styling */

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.font-weight {
    font-weight: 300;
}

@media screen and (max-width: 570px) {
    /* Header */
    header {
        padding: 1rem 3rem;
    }
    /* Nav Links */
    nav {
        display: none;
    }
    .hamburger-menu {
        display: flex;
    }
    /* Footer */
    h3 {
        font-weight: 400;
        font-size: 1.375rem;
    }
    footer a {
        margin: 8px;
    }
    footer img {
        height: 15px;
        padding: 10px;
    }
    footer p {
        font-size: 1.125rem;
        margin-bottom: 60px;
    }
}