/* styling footer */
footer {
  text-align: center;

  /* border-top 1px solid lightgray; */
}
h6 {
  font-weight: lighter;
}
a {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-color: transparent;
  border: 1px solid rgb(223, 219, 219);
  border-radius: 50%;
  padding: 0.4rem;
  margin-left: 1rem;
}
.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.3rem;
}
