:root {
    --burnt-orange: #DE6E49;

}

nav {
    background-color: hsla(0, 0%, 77%, 0.1);
}
main {
    margin-top: 0;
    padding-top: 0;;
}
section {
    width: 50%;
    
}
.flex-container {
    display: flex;    
}

h1 {
    text-align: center;
    color: var(--burnt-orange);
    font-weight: 500;
    font-size: 50px;
    line-height: 58.59px;

}

.flex-container img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 50%;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;   
    max-width: 500px;
    margin: 0 auto;       
}

.input-field {
    display: flex;
    flex-direction: column;
}

form .two-inputs {
    display: flex;
    justify-content: space-between;
  
}
input {
    border-width: 2px;
    border-color: #666;
    border-radius: 4px;
   
}
input[type=text]{
    padding: 10px 30px;
    margin-bottom: 20px;
}
select, option{
    padding: 10px 50px;
}
.name input, .name label, legend {
    display: block;
    
}

.required:after {
    content:" *";    
}

/* select:required:invalid {
    color: #666;
  } */

  option[value=""][disabled] {
    display: none;
  }

  option {
    color: #000;
  }


.radio-buttons {
    display: flex;
}

.radio-orange {
    display: flex;
}



  input[type=radio] {
      opacity: 0;
  }


span a {
    color: hsla(15, 69%, 58%, 1);
}

button {
    float: left;
}

