header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 5rem;
  align-items: center;
}
nav {
  display: flex;
  justify-content: space-between;
}
.menu-image {
  display: none;
}

nav ul li {
  display: inline;
  list-style: none;
  color: black;
  padding: 0 1rem;
}

nav ul li:hover {
  color: tomato;
  cursor: pointer;
}
#karma-logo {
  margin-left: 8%;
}
