/* I have deliberately completed this WITHOUT any IDs or Classes for Specificity/Selector Practise*/

/* HERO SECTION */
main > section:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 8rem 0;
  background-image: url("../img/first-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

main > section:nth-child(1) > h1 {
  margin: 0;
  font-size: 2.8rem;
}

main > section:nth-child(1) > h3 {
  font-size: 1.6rem;
}

main > section:nth-child(1) > a {
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  background-color: hsl(15, 87%, 55%);
  color: inherit;
  text-decoration: none;
}

/* SECTION TWO */
main > section:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 6rem 0;
}

main > section:nth-child(2) > h2 {
  font-size: 2.2rem;
  align-self: center;
}

main > section:nth-child(2) > ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

main > section:nth-child(2) > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

main > section:nth-child(2) > ul > li > img {
  width: 7rem;
}

main > section:nth-child(2) > ul > li > span {
  font-size: 1.4rem;
}

/* SECTION THREE */
main > section:nth-child(3) {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1.5fr 2fr;
}

main > section:nth-child(3) > div:nth-child(1) {
  background-image: url("../level-2/homepage-feature.png");
  background-size: cover;
  background-repeat: no-repeat;
}

main > section:nth-child(3) > div:nth-child(2) {
  background-color: hsl(21, 54%, 95%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 4rem;
}

main > section:nth-child(3) > div:nth-child(2) > h3 {
  text-align: center;
  font-size: 1.4rem; 
  font-style: italic;
}

main > section:nth-child(3) > div:nth-child(2) > h3 > span:nth-child(1),
main > section:nth-child(3) > div:nth-child(2) > h3 > span:nth-child(3) {
  color:hsl(15, 87%, 55%);
  font-size: 1.6rem;
}

main > section:nth-child(3) > div:nth-child(2) > a {
  display: block;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  background-color: hsl(15, 87%, 55%);
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 767px) {

  main > section:nth-child(1) {
    padding: 4rem;
    text-align: center;
  }

  main > section:nth-child(2) {
    padding: 4rem;
  }

  main > section:nth-child(2) > h2 {
    text-align: center;
  }

  main > section:nth-child(2) > ul {
    flex-direction: column;
    gap: 3rem;
  }

  main > section:nth-child(3) {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }

  main > section:nth-child(3) > div:nth-child(2) {
    padding: 4rem;
  }

  main > section:nth-child(3) > div:nth-child(2) > h3 {
    font-size: 1.6rem;
  }

  main > section:nth-child(3) > div:nth-child(2) > h3 > span:nth-child(1),
  main > section:nth-child(3) > div:nth-child(2) > h3 > span:nth-child(3) {
    font-size: 2rem;
  }

  main > section:nth-child(3) > div:nth-child(2) > a {
    font-size: 1.6rem;
    padding: 1.5rem 3rem;
  }

}