body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  padding: 0%;
  margin: 0;
}
/* styling the header */
.store {
  color: #e0633a;
}
header {
  background-color: #ebe4e4;
}
/* styling h1 */
h1 {
  margin-bottom: 50px;
  color: #de6e49;
}

/* styling the form */
form {
  display: flex;
  padding-left: 40px;
  width: 45%;
  margin: 3% 5%;
  flex-direction: column;
  font-size: 15px;
  height: auto;
}
.order-form {
  display: flex;
  flex-direction: row;
}

/* styling the input */
input,
#city {
  padding: 15px;
  margin-bottom: 20px;
}

/* styling the label */
label {
  margin-bottom: 5px;
}

/* putting the first and last name in a row */
.full-name {
  display: flex;
  justify-content: space-between;
}

/* putting first and last name in a column */
.name-details {
  display: flex;
  flex-direction: column;
  width: 48%;
}

/* styling address */
.address-one {
  display: flex;
  flex-direction: column;
}
.address {
  display: flex;
  flex-direction: column;
  width: 48%;
}

/* styling city and postcode */
.city-postcode {
  display: flex;
  justify-content: space-between;
}

#city {
  border: 0.5px solid black;
}

/* styling the button */
button {
  border-radius: 4px;
  background-color: #e0633a;
  cursor: pointer;
  padding: 15px;
  width: 120px;
  color: white;
  border-style: none;
  font-size: 11px;
  margin-top: 25px;
}

/* styling radio */

.radio-color {
  display: inline-flex;
  flex-direction: row;
  margin-bottom: 30px;
  justify-items: auto;
}
#space-grey {
  margin-left: 18px;
}
/* changing the radio button color to orange when checked */

input[type="radio"] {
  cursor: pointer;
  opacity: none;
  background-color: white;
  margin: 0;
  color: grey;
  width: 15px;
  height: 15px;
  border: 1px solid grey;
  border-radius: 50%;
  margin-right: 5px;
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 0 0 5px 5px orange;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.terms {
  margin-top: 10px;
}
/* styling checkbox */

[type="checkbox"] {
  cursor: pointer;
  margin: 0;
  opacity: 0;
  display: grid;
}
[type="checkbox"] + label {
  position: relative;
}
[type="checkbox"] + label::before {
  display: inline-flex;
  /* position: absolute; */
  left: 0px;
  right: 0px;
  width: 18px;
  height: 18px;
  content: "";
  background: white;
  border: 1px solid lightgrey;
}
[type="checkbox"]:checked + label::before {
  display: inline-flex;
  /* position: absolute; */
  left: 0;
  width: 18px;
  height: 18px;
  content: "";
  background: white;
  border: 1px solid orange;
}
[type="checkbox"]:checked + label::after {
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  content: "";
  background-image: url(../img/check-mark.ico);
  background-size: contain;
}
.terms {
  color: orange;
}

/* styling the side image */
.aside-image {
  background-image: url(../img/karma.jpg);
  background-size: cover;
  width: 55%;
  height: auto;
  display: flex;
  flex-direction: column;
}

/* styling for tablet  */
@media screen and (max-width: 1155px) {
  nav {
    font-size: 15px;
  }
  header {
    padding: 2rem;
  }
  nav ul li {
    padding: 0 0.5rem;
  }
  .aside-image {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}
