/* We are using the 'Roboto' font from Google. This has already been added to your HTML header */

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */

/ nav {
  display: grid;
  grid-template-columns: 30% 80%;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 1;
}

.nav-img {
  max-height: 80%;
  max-width: 80%;
  grid-row-start: 0;
  grid-row-end: 1;
  overflow: hidden;
  margin-left: 20%;
  z-index: 0;
  margin-top: 1%;
}

.nav-a-container {
  display: flex;
  justify-content: space-around;
  align-self: center;

  color: #0c3c9e;
}

/*
.nav-a-first { 
    font-weight: bolder;
    color: #707275;

} */

.nav-a:hover {
  color: orangered;
}

.header-div {
  position: relative;
  text-align: center;
  color: white;
  background-color: palegreen;
  font-size: 0.7em;
  padding-top: 70px;
}

.inner-header-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inner-header-div button {
  background-color: blue;
  padding: 15px;
  border-radius: 1rem;
  border-color: orangered;
}

/* need to find a way to display this image properly when the screen is phone sized. I need the image centered and then any overflow
hidden. Currently I) am controlling it through max height and I can't get justify content to work ... */

.header-image {
  background-image: url("https://raw.githubusercontent.com/erin-switchstitch/HTML-CSS-Coursework-Week2/99d5c3fe44175a5563c36cd7806add33f0c3c670/img/first-background.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
}

main,
h2 {
  color: #8b8d91;
  text-align: center;
  padding-top: 50px;
  font-size: 1.2em;

  color: #0c3c9e;
}

figcaption {
  font-size: 1em;
}

.main-img-container {
  display: flex;
  flex-wrap: wrap;
}

.main-img {
  flex-basis: 200px;
  flex-grow: 1;
}

.main-img:last-of-type {
}

footer {
  align-content: center;
  width: 100%;
}

footer p {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 5%;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  max-height: 80px;
  width: 100%;
  padding-bottom: 10%;
}

.fab {
  font-size: 40px;
  padding: 2%;
  border: grey 1px solid;
  border-radius: 10%;
}
