@media (max-width: 1200px) {
    
    /* html {
        font-size: 52.50%;
    } */
}


@media (max-width: 900px) {

    .form {
    flex-direction: column;
 }

    .form-content,
    .form-imgbox {
        width: 100vw;
 }
}

@media (max-width: 600px) {

    html {
        font-size: 42.50%;
    }
}