.main-container {
    display: flex;
    justify-content: space-between;

}

.form-container {
    padding-left: 160px;
}

h2 {
    font-size: 60px;
    font-weight: 500;
    color: #E0633A;
}

.form-image {
    width: 701px;
}

