:root {

    --orange: #e0633a;

}

h1 {
    font-size: 40px;
    color: var(--orange);
}

#form {
    display: flex;
    flex-direction: row;
}

#form-img {
    width: 50%;
}

#names,
form>div:nth-child(3) {
    display: flex;
}

#names>div:nth-child(1),
form>div:nth-child(2),
#names>div:nth-child(2),
#address-detail>div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

#address-detail>div:nth-child(2) {
    width: 30%;
}

#address-detail>div:nth-child(1) {
    width: 90%;
    display: flex;
    flex-direction: column;

}

label,
input[type=checkbox],
input[type=radio] {
    margin: 20px 20px 20px 0;
    text-align: justify;


}


#terms-condition {
    padding: 0px;
}

#submit {
    margin: 40px 0;
    padding: 20px 40px;
}

input[type=text],
select {
    font-size: 20px;
    padding: 5px;
    margin-right: 15px;
    border: 1.5px solid rgb(156, 155, 155);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=checkbox],
input[type=radio] {
    transform: scale(1.5);
}


fieldset {
    border: none;
    margin: 40px 0;
    padding: 0;
}

legend {
    margin: 20px 0;
}

#terms-container {
    display: flex;
}





section>div:nth-child(1) {
    width: 50%;
    padding: 7%;

}