/* Base */
* {
  color: black;
}

/* Main */
.store-main {
  display: flex;
}

.store-main > .order-form-wrapper h1 {
  color: var(--orange-dark);
  margin: 4rem 0;
  width: 58%;
}

/* Form */
.order-form-wrapper {
  flex: 1;
  margin-left: 8rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 58%;
}

input, select {
  padding: 5px;
}

label {
  margin: 10px 0;
}
.side-by-side-field {
  display: flex;
  gap: 15px;
}

.side-field {
  display: flex;
  flex-direction: column;
  flex: 1;
}

select {
  width: 15.7rem;
}

.post-code-field {
  width: 6rem;
}

fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

fieldset {
  display: flex;
  margin-top: 2rem;
}

fieldset > legend {
  margin: 1rem 0;
}

input[type="checkbox"] {
  margin-right: 5px;
  position: relative;
  top: 12px;
}

.my-check-box a {
  color: var(--orange-dark);
}

/* Radio Buttons */
.radio-btn-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  gap: 5px;
}

.radio-btn-two {
  margin-left: 5px;
}

input[type="radio"] {
  opacity: 0;
  z-index: 40;
  position: absolute;
  left: 4px;
  top: 13px;
  margin: 0;
}

div.check {
  position: relative;
  border: 1px solid var(--grey-dark);
  border-radius: 100%;
  height: 16px;
  width: 16px;
}

div.check::before {
  display: block;
  position: absolute;
  content: "";
  border-radius: 100%;
  height: 12px;
  width: 12px;
  top: 2px;
  left: 2px;
  margin: auto;
  transition: background 0.25s linear;
}

input[type="radio"]:checked ~ .check::before {
  background-color: var(--orange-dark);
}

/* Submit button */

.btn-submit {
  margin-top: 4rem;
}

/* Image */
.image-right {
  max-width:100%;
  max-height:100%;
}

.order-img {
  flex: 1;
}

/* Footer */
hr {
  margin-top: 0;
}

/* Mobile Media queries */

@media screen and (max-width: 480px) {

 
  .header {
    overflow-x: hidden;
  }
  
  .store-main {
    display: flex;
    flex-direction: column;
  }

  .store-main > .order-form-wrapper h1 {
    width: 90%;
    text-align: center;
  }

  form {
    width: 90%;
  }

  input, select {
    border-radius: .3rem;
  }

  .side-by-side-field {
   flex-direction: column;
  }

  .order-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  select {
    width: 14rem;
  }

  fieldset {
    flex-direction: column;
  }

  .my-check-box {
    flex-direction: row;
  }

  .check-box {
    padding: 0 5px;
  }

  input[type="checkbox"] {
    width: 7%;
    padding-right: 60px;
    margin: 0;
  }

  .radio-btn-two {
    margin: 0;
  }

  .btn-submit {
    margin: 4rem 0;
  }

  .footer-top-border {
    margin-top: 2rem;
  }
}
