

.store-main{
    display: flex;
    Height: 1235px;
    border-bottom: 2px solid lightgray;
}


.order-form{

    display: grid;
    grid-template-columns:repeat(18 , minmax(50px,auto));
    grid-template-rows: 350px repeat(7,minmax(100px,auto));
    font-family: Roboto;
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    color: #666666;

}

.order-form p {
    text-align: left;
    grid-row: 1;
    grid-column: 4/15;
    font-weight: 500px;
    font-size: 50px;
    line-height: 58.59px;
    color: #DE6E49;
    margin-top: 10rem;

    
}


.first-name-class{
    grid-row: 2;
    grid-column: 4/8;
   
}

.last-name-class {
    grid-row: 2;
    grid-column: 9/15;
}

.first-name-class input,
.last-name-class input,
.address-class input,
.address-2-class input,
.postcode-class input,
.city-class select {
    width: 235px;
    height: 53px;
    border: 2px solid #666666;
    border-radius: 4px;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    padding-bottom: 0;
    margin-top:10px;
}

.address-class input,
.address-2-class input{
    width: 530px;
    height: 53px;
}


.address-class{
    
    grid-row: 3;
    grid-column: 4/15;
}
.address-2-class{
    grid-row: 4;
    grid-column: 4/15;
}
.city-class{
    grid-row: 5;
    grid-column: 4/10;
  
}
.city-class select{
    width: 340px;
}

.postcode-class{
    grid-row: 5;
    grid-column: 10/14;
  
}
.postcode-class input{
    width: 175px;
}
.radio-box{
    grid-row: 6;
    grid-column: 4/15;
    font-weight: 400px;
}
.radio-box legend{
    font-weight: 500px;
    padding: 20px;
}

.option1 , .option2{
    padding:42px;
}
.terms{
    grid-row: 7;
    grid-column: 4/15;
    margin: 2rem;
}
.terms a{
    color:#DE6E49 ;
}

/*  */
#karma-orange, #space-gray{
    display: inline;
    width: 25px;
    height: 25px;
    border: 2px solid #666666;
}


[type="checkbox"]:checked, 
[type="checkbox"]:not(:checked){
    border: 2px solid #666666;
    border-radius: 4px;
    width: 24px;
    height: 24px;
}



/* button */
.order-btn{
    grid-row: 8;
    grid-column: 4/8;
    width: 269px;
    height: 70px;
    border: none;
    background: #E0633A;
    border-radius: 4px;
    color: white;
    font-size: 22px;
    font-weight: 500px;
}
er-img {

    Width:68rem;

}
/* footer */
