/* Page container */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 123rem;
    width: 100vw;
    position: relative;
}

/* Form */
.form-container h1 {
    color: var(--orange);
    font-size: 5rem;
    font-weight: 500;
}

.form-container {
    grid-column: 1/2;
    margin: 10rem;
    width: 60rem;
}

form {
    box-sizing: border-box;
    color: var(--dark-gray);
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 50rem;

}

.flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

/* form elements */
input[type=text],
input[type=radio],
input[type=checkbox],
input[type=option] {
    padding: 1rem;
    border: 1px solid var(--dark-gray);
    border-radius: 5px;
    height: 5rem;


}


fieldset {
    margin-top: 1rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

.colors {
    width: 40%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.city-box {
    height: 5rem;
    width: 25rem;
    border-radius: 5px;
}

.agreement-box {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

.agreement-box input {
    height: 2rem;
}

.agreement-box a {
    color: var(--orange);
}

/* Image aside */
.side-img-box {
    grid-column: 2/3;
    background-image: url(/img/store-image_by-andrew-neel-unsplash.jpg);
    background-size: 110% 110%;
}