
/* main */

.main {
    display: flex;
}

.store_title {
    color: #E14E00;
}

.order_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

button {
    background-color: #E14E00;
    padding: 1rem;
    margin: 2rem 30rem 2rem 0;
    justify-content: left;
    color: white;
}



/* image */

.store_image1 {
    float: right;
    width: 100px;
}