
 /* We are using the 'Roboto' font from Google. This has already been added to your HTML header */

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 2.75em;
    outline:0;
    padding:0;
    margin:0;
    border:0;
}
.karma-logo {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    padding: 10px 2px;
    position:absolute;
}
.header-nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding-right: 10%;
    list-style: none;
    line-height: 3em;
}
.header-nav ul, .nav-list{
    display: flex;
 }
 .header-nav a:hover, 
 .header-nav a:focus{
  color: red;
 }
 .main-img {
    background-image :url("../img/first-background.jpg");
    background-origin: unset;
    background-size: cover;
    background-color: rgb(rgb(43, 35, 35), green, blue);
    background-position: 60%;
 }
 .I.Karma-text-intro{
    height: 325px;
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 225px;
    max-height: fit-content;
    color: black;
    justify-content: center;
    align-items: center;
 }
 .learnmore-28 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
  }
  
  .learnmore-28:disabled {
    pointer-events: none;
  }
  
  .learnmore-28:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .learnmore28:active {
    box-shadow: none;
    transform: translateY(0);
  }

  .Karma-abilities{
    padding-top: 1.5em;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.Karma-abilities div h2{
    font-weight: normal;
    font-style: none;
    font-size: 32px;
    padding: 1em;
}
.Karma-abilities li{
   font-size: 1em;
   margin-top: 32px;
   margin-bottom: auto;

}
#device {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#coffee {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#refill {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
footer{
    font-size: 1rem
    }


/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */


