
 /* We are using the 'Roboto' font from Google. This has already been added to your HTML header */

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */

 .top-navigation 
	{
	background-color: #fff;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #DDD;
	z-index: 9999;
	}

.top-navigation > .content 
	{height: 4.375rem;
   }

.top-navigation .logo 
	{height: 40px;
    }


.content
 	{padding: 0 0.938rem;
 	margin: 0 auto;
	min-width: 37.5rem;
    color: white;  
	}

.top-navigation .links {
	float: right;
	font-family: 'Roboto', sans-serif;
	color: #838994;
	font-size: 16px;
	margin-top: 25px;
	-webkit-font-smoothing: antialiased;
	}

.top-navigation .links li 
	{display: inline-block;
	margin-left: 1.563rem;
	}

.top-navigation .links  li.active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}


.introduction {
	background-image: url(https://i.imgur.com/fS2SUrn.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
	}


.introduction h1, 
.introduction h3 
	{color: white;
	text-align: center;
	font-weight: 300;
	}


.introduction h1 {
	margin-top: 17.5rem;
	font-size: 3.125rem;
}

.introduction h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
}
   

button {
    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
}
button:hover {
    background-color: #d9400e;
    border-color: #cf3d0e;
    cursor: pointer;
}


  .introduction .buttons {
    color: white;
    text-align: center;
    margin-top: 1.563rem;
}
.introduction .half {
    width: 49%;
    padding: 0 0.938rem;
    display: inline-block;
    vertical-align: bottom;
    font-size: 1.125rem;
    line-height: 1.2;
}


.cases {
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 5rem;
}
.cases .content {
    margin-top: 7.875rem;
    padding: none;
    color: #1d1e21;
    text-align: center;
}
.cases h2 {
    font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
}
.cases .devices > li {
    width: 33.3333333%;
    float:left;
}
.cases .devices h3 {
    font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0px 1.875rem;
}
.cases .devices p {
    font-weight: 300;
    font-size: 1.313rem;
}

 
  
  .social {
	background-color: #fff;
	overflow: auto;
	padding-bottom: 9.375rem;
	text-align: center;
    }


.social hr {
    border: 0;
    border-top: 1rem solid #eaebec;
    margin: 1.313rem 0;
    }
  
.social .icons > li
    {border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
    }
  


.social .twitter{
    color: #55acee;
    }
.social .facebook {
    color: #4c66a4;
    }
.social .instagram {
    color: #3f729b;
    }

  
  .social .copy  {
    font-size: 0.9rem;
    font-weight: 300;
    color: #838994;
    }


.content {
    padding: 0 0.938rem;
    margin: 0 auto;
    min-width: 37.5rem;
}