
/* Use the 'Roboto' font from Google. Already added to your HTML header */

html, body{
  margin:0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  height: 100%;
  width: 100%;
}
.container-fluid {
  width: 95%;
  margin: 0.5% auto;
}
.navbar-fix-top {
  width: 100%;
  min-height: 10vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #fff;
  border-bottom: 1px solid gray;
  margin: 0 auto 10px auto;
}
.logo-div {
  float: left;
  margin-top: 1%;
  margin-left: 21%;
  margin-right: 15%;
}
.logo {
  /* width: 2.5%; */
  margin-left: 5%;
  margin-right: 90%;
  width: 27px;
}
ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
li {
    display:inline-block;
    float: left;
    margin-right: 1px;
}
li a {
    display: block;
    font-size: 1.4rem;
    min-width: 40px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #838994;
    text-decoration: none;
    margin-left: 1.25rem;

}
li:hover ul a {
    color: #000;
    height: 40px;
    line-height: 40px;

}
li ul {
    display: none;
}
li ul li {
    display: block;
    float: none;
}
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}
ul li a:hover + .hidden, .hidden:hover {
    display: block;
    text-decoration: none;
}
a, a:hover, a:focus {
    text-decoration: none;
    color: inherit;
}
.show-menu {
    text-decoration: none;
    color: #838994;
    text-align: center;
    padding: 10px 0;
    display: none;
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox]:checked ~ #menu{
    display: block;
}
.sectionmenu {
	min-width: 100%;
	min-height: 70px;
	/* background-color: #2F3036; */
}
.active{
  color: black;
}
.clear-fix:after{
  display:block;
  content:"";
  visibility:hidden;
  overflow:hidden;
  width:0;
  height:0;
  font-size:0;
  line-height:0;
  clear:both;
}
h1 {
  font-size: 4rem;
  font-weight: 300;
  margin: 0 auto;
}
h3 {
  font-size: 2rem;
  font-weight: 300;
}
.banner h1, .banner h3 {
  margin: 0;
  text-align: center;
}
.banner {
  color: white;
  /* background: url('../img/first-background.jpg') top left/cover no-repeat; */
  background: url('../img/first-background.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 55rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  margin-top: 1%;
  position:relative;
  z-index:0;
}

.btn-learn-more {
  background-color: #f15a29;
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 1.6rem;
  padding: 1.4% 2.2%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  font-weight: 400;
}
.btn-learn-more:hover {
  background-color: #d9400e;
  border-color: #cf3d0e;
  cursor: pointer;
}
.flex-contianer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-warp: warp;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
}
.flex-item {
  width: 20%;
  height: 20%;
  margin: 1% 0px;
  padding: 1%;
  text-align:center;
}
.buttom{
  color: black;
}
.every-karma {
  font-size: 3.7rem;
  font-weight: 300;
  text-align: center;
}
.flex-item img{
  float: none;
  margin: 0 5%;
}
.row {
  width: 70%;

}
.caption h3 {
  font-weight: 400;
  font-size: 2rem;
  /* margin: 5rem 0px 3rem 0px; */
  float: none;
  margin: 0 auto;
}
hr {
  width: 50%;
  /* opacity: 0.8; */
  margin: 10% auto 1% auto;
}
.join-us {
  margin: 2% auto;
  text-align: center;
  width: 25%;
  font-size: 1rem;
}
footer .social-icons--list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 0;
}

footer .social-icons--list .fa-twitter {
  font-size: 1.2rem;
  color: #55acee;
}
footer .social-icons--list .fa-instagram {
  font-size: 1.5rem;
  color: #dd4b39;
}
footer .social-icons--list .fa-facebook-f {
  font-size: 1.2rem;
  color: #3b5998;
}
.social-icons--list__circle {
  text-align: center;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid darkgray;
  border-radius: 50%;
  margin: 5px;
}
footer .social-icons--list .fab {
  padding: 13% 0;
}
.copyright {
  color: gray;
  text-align: center;
  margin: 1% auto 10% auto;
  font-size: 0.875rem;
}
.clear-fix:before,
.clear-fix:after {
  content: "";
  display: table;
}
.clear-fix:after {
  clear: both;
}
.clear-fix {
  zoom: 1;
}
/* resize mobile */
@media only screen and (max-width: 520px) {
  .banner {
    height: 35rem;
  }
  .banner-h1 {
    font-size: 1.6rem;
  }
  .banner-h3 {
    font-size: 0.7rem;
  }
  .flex-item {
    min-width: 80%;
    height: 20%;
    margin: 1% 0px;
    padding: 1%;
    text-align:center;
  }
  .banner-h1 {
    font-size: 1.6rem;
  }
  .banner-h3 {
    font-size: 0.7rem;
  }
  .every-karma {
    font-size: 1.2rem;
  }
  .copyright{
    font-size: 0.75rem;
    margin: 0 auto;
  }
  .footer .social-btn-list {
    justify-content: center;
    align-items: center;
    align-content:  center;
  }
}
/* landscape orientations */
@media screen and (min-width: 530px) and (max-width: 720px){
  .clear-fix:after{
    display:block;
    content:"";
    visibility:hidden;
    overflow:hidden;
    width:0;
    height:0;
    font-size:0;
    line-height:0;
    clear:both;
  }
  .flex-item {
    min-width: 80%;
    height: 20%;
    margin: 1% 0px;
    padding: 1%;
    text-align:center;
  }
  .btn-learn-more {
    top: 82%;
    left: 50%;
    color: white;
    font-size: 1rem;
    font-weight: 200;
  }
  .banner-h1 {
    font-size: 2rem;
  }
  .banner-h3 {
    font-size: 1rem;
  }
  .every-karma {
    font-size:1rem;
  }
}

/* resize  tablet size */
@media only screen and (min-width: 720px)  and  (min-width: 920px) {
  .btn-learn-more {
    /* top: 82%; */
    left: 50%;
    color: white;
    /* font-size: 1rem; */
    font-weight: 200;
  }
}
@media screen and (max-width : 760px){
    ul {
        position: static;
        display: none;
    }
    li {
        margin-bottom: 1px;
    }
    ul li, li a {
        width: 100%;
    }
    .show-menu {
        display:block;
    }
    .logo-div {
      margin-top: -30px;
      width: 0.5%;
    }

    hr {
      width: 50%;
      opacity: 0.1;
      margin: 10% auto 1% auto;
    }
    .join-us {
      margin: 2% auto;
      text-align: center;
      width: 25%;
      font-size: 1rem;
    }
    footer .social-icons--list {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5px;
      padding: 0;
    }
    footer .social-icons--list li {
      padding: 5px;
    }
    footer .social-icons--list .fa-twitter {
      font-size: 1.2rem;
      color: #55acee;
    }
    footer .social-icons--list .fa-instagram {
      font-size: 1.5rem;
      color: #dd4b39;
    }
    footer .social-icons--list .fa-facebook-f {
      font-size: 1.2rem;
      color: #3b5998;
    }
    .social-icons--list__circle {
      text-align: center;
      padding: 3px;
      width: 30px;
      height: 30px;
      border: 1px solid darkgray;
      border-radius: 50%;
    }
    footer .social-icons--list .fab {
      padding: 13% 0;
    }
    .copyright {
      color: gray;
      text-align: center;
      margin: 1% auto 10% auto;
      font-size: 0.875rem;
    }
    .clear-fix:before,
    .clear-fix:after {
      content: "";
      display: table;
    }
    .clear-fix:after {
      clear: both;
    }
    .clear-fix {
      zoom: 1;
    }



}
