/* General Style */
body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: black;
}

button {
  padding: 20px;
  border: 0px;
  background: none;
}

a:hover {
  color: orange;
}

a,
li {
  text-decoration: none;
  color: black;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 100px;
  margin-right: 100px;
  border-width: 1px;
  opacity: 60%;
}

footer {
  text-align: center;
}
/* IDs */
#navbar-button {
  padding: 10px;
}

/* Header */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.navbar-logo {
  width: 2%;
}

.navbar-container {
  display: flex;
  flex-direction: row;
}

/* Main  */

.article-one {
  background-image: url("../img/first-background.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  color: aliceblue;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.article-two {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  text-align: center;
}

.icon-devices {
  width: 10%;
  padding: 60px;
}

.icon-coffee,
.icon-refill {
  width: 11%;
  padding: 0px;
}

.little-karma {
  text-align: center;
  font-size: 2.5em;
  margin-top: 10%;
  font-weight: normal;
}

.article-two-img {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
}

.article-two-links {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  font-size: 25px;
}

/* Footer */

.social-media-handles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.twitter-handle {
  width: 40px;
  height: 40px;
  border: 1px solid #555;
  border-radius: 50px;
  opacity: 80%;
  margin: 30px;
  padding: 5px;
}

.facebook-handle {
  width: 40px;
  height: 40px;
  border: 1px solid #555;
  border-radius: 50px;
  opacity: 80%;
  padding: 5px;
}

.instagram-handle {
  width: 40px;
  height: 40px;
  border: 1px solid #555;
  border-radius: 50px;
  opacity: 80%;
  padding: 5px;
}

.karma-mobility {
  text-align: center;
  font-size: 15px;
  padding: 10px 30px 30px;
  font-weight: normal;
  color: rgb(104, 103, 103);
}
