body 
{
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

main
{
    padding-bottom: 1.5em;
}
nav
{
    padding-right: 4em;
}

.logo
{
    margin: 1em 8em;
    width: 30px;
}

.option-buttons
{
    float: right; 
    line-height: 50px;
    list-style: none;
    color: black;
    font-size: 15px;
    padding-top: 15px;
    padding-right: 30px;
    border:0px;
    background-color: white;
}


.option-buttons:hover
{
    color:orangered;
}

.container
{
    position: relative;
    color: white;
}

.bg-image
{
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bg-text
{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.p-1
{
    font-size: 40px;
}

.p-2
{
    font-size: 20px;
}

.btn-learn-more
{
    color: white;
    height: 60px;
    width: 150px;
    background-color: rgb(255, 99, 43);
    border: 1px solid black;
    border-radius: 10px;
}

.btn-learn-more:hover
{
    background-color: rgb(206, 55, 0);
}


.p-3
{
    padding-top: 60px;
    text-align: center;
    font-size: 30px;
}

.img-1
{
    height: 100px;
}

.image-1
{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;   
}

.addition-1
{
    background-color: rgb(255, 240, 234);
}

.img-2
{
    width: 43%;
}

.p-4
{
    padding-bottom: 5em;
}

hr.hl 
{
    width: 90%;
    opacity: 0.25;
}

.p-5
{
    text-align: center;
    font-size: 15px;
    margin: 0%;
    padding-bottom: 12px;
}


.b-c-img
{
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.075);
    border-width: 1px;
    background-color: white;

}

.b-c-img:hover
{
    background-color: rgb(200, 200, 200);
}

.i-c-img
{
    height: 10px;
}

.btn-icon
{
    text-align: center;
}

.p-6
{
    text-align: center;
    font-size: 11px;
    opacity: 0.5;
    padding-bottom: 65px;
}

.aside-1
{
    font-size: 25px;
    padding-top: 4%;
    width: 57%;
    text-align: center;
    float: right;
}

.get-karma-today
{
    color: white;
    height: 60px;
    width: 200px;
    background-color: rgb(255, 99, 43);
    border: 0px solid;
    border-radius: 10px;

}    

.get-karma-today:hover
{
    background-color: rgb(206, 55, 0);
}

.p-new:before 
{
  color: rgb(255, 99, 43);
  content: "“";
}

.p-new::after 
{
  color: rgb(255, 99, 43);
  content: "”";
}

.aside-2
{
    font-size: 18px;
    padding-top: 4%;
    width: 57%;
    text-align: center;
    float: right;
}
