
 /* We are using the 'Roboto' font from Google. This has already been added to your HTML header */

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-image: url("img/first-background.jpg");
  
   
    
}

/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */



.nav-bar-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
    width: 86%;
    margin: 0 auto;
    padding-top: 0.75rem;
    padding-bottom: 0.30rem;
}

.nav-bar {
    display: flex;
    justify-content: end;
    gap: 6%;
    width: 98%;
    font-size: 0.9rem;
    padding-top: 3px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
color: #F15B2A;
}


/* Hero section */
.background-img {
    background-image: url("/HTML-CSS-Module-Project/img/first-background.jpg");
    height: 110vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
   
} 


.all-text {
   text-align: center;
    font-weight: 1000;

}
.introduction {
    color:rgb(255, 240, 247);
    font-size: 4.6vw;
    font-weight: 100;
    
}

.introduction-2 {
    color: white;
    font-size: 2.5vw;
    font-weight: 100;

}


.btn {
    margin-top: 4%;
    padding: 16px 32px;
    border-radius: 8px;
    background-color: #F15B2A;
    border: none;
    font-size: 1.6vw;
    font-weight: 100;
   
}
h1 {
    text-align: center;
    font-size: 3.8vw ;
    font-weight: 300;
   padding-top: 80px;
}

.devices-coffee-refill-section {
    display: flex;
    justify-content: space-evenly;
}
 
.icons-description {
    display: flex;
    justify-content: space-evenly;
    font-size: 150%;
    font-weight:
}
.icons-description {
    margin-left: 30px;
   
}
.boost-your- {
    margin-right: 30px;
}
.line {
            width: 84%;
            margin: 0 auto;
            background-color: #b4bcc36a;
            height: 0.1vw;
            margin-top: 5rem;
        
}
.join-us {
    text-align: center;
}
.media-logo {
    display: flex;
    justify-content: center;
    gap: 12px;
   
}
.logo-s {
        display: flex;
            align-items: center;
            justify-content: center;
            border: 0.1vw solid #d0d7dd6a;
            padding: 0.6rem 0.7rem;
            border-radius: 112%;
            transition: border 1.2s
       
}
.kar-Mobility {
    text-align: center;
    padding-top: 1rem;
    padding-bottom:5rem ;
    color: #868e96;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #FCEFEB;

}

.title-2 {
    color: red;
}