@import 'abstract';
@import 'normalize';
.container-top{
  width:80%;
  display: flex;
  justify-content: space-between;
}
nav.navbar-light{
  background-color:rgb(255, 255, 255);
}
.nav-item{
  padding: .5rem;
  // text-transform: uppercase;
  letter-spacing: 1px;
}
.logo{
  height: 90%;
}
// introduction
.intro {
  background-image: url('../img/first-background.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45.938rem;
  @include flx-center;
  &__content {
    padding: 0;
    color: #1d1e21;
    display: flex;
    flex-direction: column;
  }
  &__h1{
    color: white;
    font-weight: 300;
    font-size: 3.125rem;
    margin-bottom: 1rem;
  }
  &__h3{
    @extend .intro__h1;
    font-size: 1.563rem;
  }
  &__buttons {
    color: white;
    text-align: center;
    margin-top: 1.563rem;
  }
}
button {
  width: 9.688rem;
  background-color: #f15a29;
  border-color: #f15a29;
  text-shadow: none;
  border-style: none;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  color: white;
  font-size: 1.125rem;
}
button:hover {
  background-color: #d9400e;
  border-color: #cf3d0e;
  cursor: pointer;
}
// cases
.cases{
  padding:5rem 0;
  &__h2{
    font-size: 3rem;
    margin-bottom: 3.5rem;
    font-weight: 300;
    text-align: center;
    // padding: 1rem;
  }
  &__img{
    width:127px;
    height: 127px;
  }
  &__block{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__caption{
    margin-top:2rem;
  }
}
// Footer
.social {
  // background-color: #fff;
  overflow: auto;
  padding-bottom: 9.375rem;
  margin-bottom: 3rem;
  @include flx-center;
  &__content{
    width: 60%;
    flex-direction: column;
    &> hr { 
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border: 1px solid #E9EAEB;
    }
  }
  &__collections{
    padding-top: 25px;
    @include flx-center;
    flex-direction: column;
    &>h5{
      font-weight: 700;
    }
  }
  &__icons{
    &>li{
      border-radius: 1.25rem;
      width: 2.5rem;
      height: 2.5rem;
      display: inline-block;
      margin: 1.25rem 5px;
      border: 1px solid #eaebec;
      padding: 0.625rem 0;
      text-align: center;
      &:hover{
        cursor: pointer;
      }
    }
  }
  &__twitter{
    color: #55acee;
  }
  &__facebook{
    color: #4c66a4;
  }
  &__instagram{
    color: #3f729b;
  }
  .copy {
    font-size: 0.9rem;
    font-weight: 300;
    color: #838994;
  }
}
// MEDIA
@media only screen and (max-width: 768px) { 
  .intro{
      &__content{
          padding: .5rem;
      }
      &__h1{
          font-size: 2.5rem;
          text-align: center;
      }
      &__h3{
          font-size: 1.5rem;
          text-align: center;
      }
  }
  .social{
    padding: 0;
    // margin: 0;
      &__content {
           width:100%;
      }
  }   
  .container-top{
    width: 100%;
  }
}
 @media (min-width: 576px){
   .navbar-collapse {
     flex-grow: 0;
 }
 }
 @media only screen and (max-width: 575px) { 
  body{
    text-align: center;
  }     
 }

@media only screen and (min-width:768px){
  .navbar-expand-md {
    justify-content: center;
}
}