
 /* We are using the 'Roboto' font from Google. This has already been added to your HTML header */

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    width: 100%;
}

/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */

.logo{
    width: 40px;
    }
header{
    display: flex;
    padding: 10px 7% 10px 7%;
    justify-content: space-between;
    }
.dropDown {
    display:none;
}
.menu{
    display:none;
}


ul{
    display: flex;
    flex-direction: row;    
    }

li{
    padding: 0px 20px 0px 20px;
    list-style-type: none;
    font-size: xx-large;
    }
a:link{
    color:rgb(137, 142, 151);
    text-decoration: none;
}
a:visited{
    color:rgb(137, 142, 151);
    text-decoration: none;
}

.text1:link{
    color:rgb(80, 80, 90);
}
.text1:visited{
    color:rgb(80, 80, 90);
}
.text1:hover{
    color:rgb(240, 90, 41);
}
a:hover{
    color:rgb(240, 90, 41);
    text-decoration: none;
}
.hamburger{
    display: none;
}

@media only screen and (max-width: 1120px) {
    .hamburger {
      display: block;
     }
     .navBar{
         display:none;
     }  
    }


.topSection {
    width: 100%;
    height: 750px;
    margin: 0;
    background-image: url("../img/first-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    box-sizing: border-box;
           

    display:flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    text-align: center;

    
    }
.text2{
    color: white;
    font-size: 70px;
    font-weight: 100;
    margin-bottom: 10px;
}

.text3{
    color: white;
    font-size: 40px;
    font-weight: 100;
    margin-top: 10px;
}
button{
    padding: 14px 40px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    background-color:rgb(240, 90, 41); 
    transition-duration: 0.4s;
}
button:hover {
    background-color: white; /* Green */
    color:rgb(240, 90, 41);
  }


.text{
    text-align: center;
}
.t1{
    font-size: 70px;
    font-weight: 100;
    color:rgb(80, 80, 90);
    padding: 40px 0px 40px 0px;
}

.icon {
        width: 200px; 
        height: auto;
        padding: 0px 125px 0px 125px;
            }
.middleSection{
    display:flex;
    justify-content: center;
    
    text-align: center;
    color:rgb(80, 80, 90);
    font-size: 40px;
}

@media only screen and (max-width: 1300px) {
    .middleSection {
      flex-direction: column;
    }
  }

hr{
    width: 80%;
    
    border-color:rgb(198, 204, 216); 
}


.socialSection{
    display:flex;
    justify-content: center;    
}
.t2{
    font-size: 20px;
    font-weight: 500;
    color:rgb(80, 80, 90);
}

.socialContainer {
    width: 50px; 
    height: 50px;
    border: 1px solid rgb(198, 204, 216);   
    border-radius: 50%; 
    margin: 4px;
    
     
    
}
.social {
    width: 30px; 
    height: auto;
    margin: 10px;
}


.t3{
    font-size: 20px;
    font-weight: 300;
    color:rgb(137, 142, 151);
}

