/* We are using the 'Roboto' font from Google. This has already been added to your HTML header */

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */

* {
  margin: 0;
  padding: 0;
  /* background-color: white; */
}

body {
  width: 100%;
}

li,
a {
  color: gray;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
}

.logo {
  max-height: 40px;
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.image__container {
  background-image: url(../img/first-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  color: white;
  font-family: "Roboto", sans-serif;
  padding-top: 335px;
}

.inner__container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 450px;
}

h1 {
  font-size: 5rem;
  margin-top: 0%;
  margin-bottom: 2rem;

}

.btn    {
  display: inline-block;
  background: rgb(206, 104, 9);
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 1em 2em;
  border: 0;
  margin: 3em 0;
  border-radius: 5%;
}




.inner__container p {
  font-size: 3rem;
}


h2 {
  text-align: center;
  position: absolute;
  width: 100%;
  font-size: 3rem;
  padding-top: 7rem;
}

.image__center {
  display:flex;
  justify-content: space-around;
  padding-top: 14rem;
  align-items: center;
  
}

.image__center div{
  width: 170px;
  height: 170px;
  


}

.image__center p {
  padding-top: 2rem;
  font-size: 2rem;
  /* width: 1200px; */
  text-align: left;
  margin-bottom: 6rem;
}


footer {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 20%;
  padding-top: 1rem; 
  font-size: 1rem;
}

.icon {
  width: 20px;
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

