/* We are using the 'Roboto' font from Google. This has already been added to your HTML header */

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */
.header {
  display: flex;
}
.header__logo {
  height: 40px;
  width: auto;
  padding-bottom: 0.2rem;
  margin-left: 5rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.navigation__list {
  display: flex;
  list-style: none;
}

.navigation__item {
  padding: 2rem;
}

.navigation__link {
  color: lightgray;
  font-weight: 600;
  text-decoration: none;
}

.navigation__list a:hover {
  color: #c05326;
}

.navigation__list a.active {
  color: darkgray;
}

.hero {
  background-image: url(../img/first-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  position: relative;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.hero h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #fff;
  text-align: center;
}
.hero button {
  background-color: #c05326;
  color: #fff;
  border: #c05326;
  border-radius: 0.5em;
  font-size: small;
  padding: 1rem;
}
.article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article h2 {
  font-size: 2rem;
  color: black;
  padding-top: 7rem;
  padding-bottom: 4rem;
}
.article img {
  height: 100px;
  width: 100px;
}
.article-images {
  display: flex;
  gap: 80px;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.item img {
  opacity: 100%;
}
.item {
  background-color: rgba(224, 99, 58, 0.1);
}

.item h3 {
  display: flex;
  justify-content: center;
  font-size: x-large;
  font-style: italic;
  font-weight: lighter;
  color: black;
  opacity: 100%;
  padding: 3rem;
}

.item button {
  background-color: #c05326;
  color: #fff;
  border: #c05326;
  border-radius: 0.5em;
  font-size: small;
  padding: 0.5rem 3rem;
  opacity: 100%;
  justify-content: center;
}
.footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.footer img {
  display: flex;
  justify-content: center;
  height: 20px;
  padding: 1rem;
}
