
 /* We are using the 'Roboto' font from Google. This has already been added to your HTML header */

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    width: 100%;
}

/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */

.logo{
    width: 40px;
    }
header{
    display: flex;
    padding: 10px 7% 10px 7%;
    justify-content: space-between;
    }


.menu{
    display:none;
}


ul{
    display: flex;
    flex-direction: row;    
    }

li{
    padding: 0px 20px 0px 20px;
    list-style-type: none;
    font-size: 1.7rem;
    }

/* :link used to remove the underline formatting for the links  */
a:link{
    color:rgb(137, 142, 151);
    text-decoration: none;
}
a:visited{
    color:rgb(137, 142, 151);
}

.header1:link{
    color:rgb(80, 80, 90);
}
.header1:visited{
    color:rgb(80, 80, 90);
}
.header1:hover{
    color:rgb(240, 90, 41);
}
a:hover{
    color:rgb(240, 90, 41);    
}
.hamburger{
    display: none;
}

@media only screen and (max-width: 1120px) {
    .hamburger {
      display: block;
      width: 40px;
      
     }
     .navBar{
         display:none;
     }  
    }


.topsection {
    width: 100%;
    height: 750px;
    margin: 0;
    background-image: url("../img/first-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
           

    display:flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    text-align: center;

    
    }
.main1{
    color: white;
    font-size: 70px;
    font-weight: 100;
    margin-bottom: 10px;
}

.main2{
    color: white;
    font-size: 40px;
    font-weight: 100;
    margin-top: 10px;
}
button{
    padding: 14px 40px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    background-color:rgb(240, 90, 41); 
    transition-duration: 0.4s;
}
button:hover {
    background-color: white; /* Green */
    color:rgb(240, 90, 41);
  }


.text{
    text-align: center;
}
.main3{
    font-size: 70px;
    font-weight: 100;
    color:rgb(80, 80, 90);
    padding: 40px 0px 40px 0px;
}

.icon {
        width: 200px; 
        height: auto;
        padding: 0px 125px 0px 125px;
            }
.middlesection{
    display:flex;
    justify-content: center;
    
    text-align: center;
    color:rgb(80, 80, 90);
    font-size: 35px;
    
}
.bottomsection{
    display: flex;
    flex-direction: row;
    padding-bottom: 75px;
    padding-top: 75px;
}

img{
width: 45%;
}
.sectionright{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(252,239,235);
    width:55%;
    
}
.italic{
    color: rgb(80, 80, 90);
    font-size: 3.5rem;
    font-style: italic;
    text-align: center;
    padding:0px 17% 0px 17%;
}
@media only screen and (max-width: 1300px) {
    .main1{
        font-size: 50px;
    }
    .main2{
        font-size: 30px;
    }
    .main3{
        font-size: 50px;
    }
    .middlesection {
        flex-direction: column;
        font-size: 25;
    }
    .bottomsection{
        flex-direction: column;
        padding-top:25px;
        padding-bottom:25px;
        }
    .sectionright{
        width:100%;
        padding-bottom: 75px;
        
    }
    img{
        width: 100%;
        }
    .italic{        
        font-size: 2rem;       
    }

  }

hr{
    width: 80%;
   
    border-color:rgb(221, 224, 230); 
    
}


.socialsection{
    display:flex;
    justify-content: center;    
}
.footer1{
    font-size: 20px;
    font-weight: 500;
    color:rgb(80, 80, 90);
}

.socialcontainer {
    width: 50px; 
    height: 50px;
    border: 1px solid rgb(198, 204, 216);   
    border-radius: 50%; 
    margin: 4px;     
}
.social {
    width: 30px; 
    height: auto;
    margin: 10px;
}


.footer2{
    font-size: 20px;
    font-weight: 300;
    color:rgb(137, 142, 151);
}

