/* We are using the 'Roboto' font from Google. This has already been added to your HTML header */

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */

 /* header */

 header {
    display: flex;
 }

 nav ul {
   list-style: none;
   display: flex;
   justify-content: flex-end;
   width: 50em;
 }

 ul li {
   padding: 0 1em;
 }
 
 .logo {
    width: 2rem;
    padding-left: 5rem;
 }

 /* Main */


 /* Footer */


