
 /* We are using the 'Roboto' font from Google. This has already been added to your HTML header */

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */

/* only screen and (max-width: 700px) {
    body {
    background-color: lightblue;
    }
} */


.container{
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 5px;
    grid-template-areas: 
    "h h h h h h"
    "ma ma ma ma ma ma"
    "ma ma ma ma ma ma"
    "ma ma ma ma ma ma"
    "ma ma ma ma ma ma"
    "ma ma ma ma ma ma"        
    "nav nav nav nav nav nav"
    "se1 se1 se2 se2 se3 se3"
    "se1 se1 se2 se2 se3 se3"
    "se1 se1 se2 se2 se3 se3"
    "se1 se1 se2 se2 se3 se3"
    "foot foot foot foot foot foot"
    "foot foot foot foot foot foot"
    ;
}
.box{
    background-color: #fff;
    display: flex;
    color: rgb(10, 1, 2);  
}

.header{
    grid-area: h; 
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* font-family: Arial, Helvetica, sans-serif; */
}
a{
    text-decoration: none;
}
.logo{
    height: 40px;
    width: 30px;
    padding-left: 70px;
    padding-top: 15px;
}
.nav-bar ul{
    display: flex;
    list-style: none;
    gap: 2em;
    padding-right: 40px;
    padding-top: 10px;
    margin-right: 60px;        
}
.nav-bar ul li a{
    color:rgb(142, 139, 139) ;
    /* font-weight: bold; */
}
.nav-bar a:hover{
    color: darkorange;
}
#karma{
    font-weight: bold;
    
}

.main{
    grid-area: ma;
    background-image: url(https://github.com/Abubakar-Meigag/HTML-CSS-Module-Project/blob/master/img/first-background.jpg?raw=true);
    background-size: cover;
    height: 600px;
}
.main {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 3rem;
}
.main em{
    font-size: 1.7em;
}
button{
    height: 2.5rem;
    width: 7rem;
    background-color: coral; 
    border-radius: 5px;
    border: none; 
}

.nav{
    grid-area: nav;
    display: flex;
    justify-content: center;
    padding-top: 150px;
    color: rgb(100, 98, 98);
    font-family:Georgia, 'Times New Roman', Times, serif
}
.img-box{
    display: flex;
}
.section1{
    grid-area: se1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(100, 98, 98);

}
.section1 img {
    width: 150px;
    height: 200px;
}
.section1 em{
    font-size: 1.8rem;
}
.section2{
    grid-area: se2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(100, 98, 98);

}
.section2 img {
    width: 150px;
    height: 200px;
}
.section2 em{
    font-size: 1.8rem;
}
.section3{
    grid-area: se3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(100, 98, 98);

}
.section3 img {
    width: 150px;
    height: 200px;
}
.section3 em{
    font-size: 1.8rem;
}
.footer{
    grid-area: foot;
    display: block;
}
.hero{
    text-align: center;
}
.footer img{
    height: 2rem;
    width: 2rem;
    display: block;
    justify-content: center;
}
.footer li{
    list-style: none;
    text-decoration: none;
}
.footer li{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    display:inline-flexbox;
}
.icon ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

@media screen and (max-width: 499px) {
    .container{
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            gap: 10px;
    }
    .nav-bar ul{
        display: none;
    }
    .main{
        background-image: url(https://github.com/Abubakar-Meigag/HTML-CSS-Module-Project/blob/master/img/first-background.jpg?raw=true);
        background-size: cover;
        height: 200px;
        width: 499px;
    }
    .main em{
        display: flex;
        font-size: 0.7em;
        flex-wrap: wrap;
    }
    button{
        height: 2.5rem;
        width: 7rem;
        }
    .main h1{
        font-size: 1.2em;
    }
    .nav{
        padding-top: 10px;
        flex-flow: wrap;
    }
    .img-box{
        display: grid;
        grid-column: 1/9;
    }
}