/* We are using the 'Roboto' font from Google. This has already been added to your HTML header */

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */

/*HEADER STYLES*/

#karma-logo {
  width: 25px;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 20px;
}

nav {
  float: right;
  margin-top: 50px;
  margin-right: 50px;
}

nav a {
  margin-right: 40px;
  text-decoration: none;
  color: gray;
}

#karma-meet {
  font-weight: bold;
}
a:hover {
  color: #c05326;
}

/*CONTENT STYLES*/
h1 {
  text-align: center;
  color: white;
  font-size: 75px;
  font-weight: lighter;
}

h2 {
  text-align: center;
  color: white;
  font-weight: lighter;
  font-size: 40px;
}

button {
  align-content: center;
  color: white;
  background-color: #c05326;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  /*margin-left: 650px;*/
  margin-top: 50px;
}

#first-page {
  background-image: url("../img/first-background.jpg");
  padding-bottom: 130px;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.need-karma {
  color: black;
  font-size: 55px;
}

.icons {
  width: 100px;
}

#icon-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

#next-page {
  margin-top: 100px;
}

#third-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote-button {
  background-color: orange;
}

/*STYLING  FOR FOOTER*/

footer {
  text-align: center;
  margin: 50px 70px 0 70px;
  border-top: 1px solid #ebebeb;
}

.smicon {
  width: 20px;
  border: 1px solid #ebebeb;
  padding: 10px;
  border-radius: 20px;
  margin-right: 5px;
}

#copyright {
  color: #cccccc;
  text-align: center;
  margin-bottom: 20px;
}
