
 /* We are using the 'Roboto' font from Google. This has already been added to your HTML header */

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    width: 100%;
}

/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */

.logo{
    width: 40px;
    }
header{
    display: flex;
    padding: 10px 150px 10px 150px;
    justify-content: space-between;
    }

ul{
    display: flex;
    flex-direction: row;    
    }

li{
    padding: 0px 20px 0px 20px;
    list-style-type: none;
    font-size: xx-large;
    }
a:link{
    color:rgb(137, 142, 151);
    text-decoration: none;
}
.meet:link{
    color:rgb(80, 80, 90);
}
.meet:hover{
    color:rgb(240, 90, 41);
}
a:hover{
    color:rgb(240, 90, 41);
    text-decoration: none;
}

.topSection {
    height:750px;
    background-image: url("/img/first-background.jpg");
    background-repeat: no-repeat;
    background-size:auto;
    background-position: center;
    

    display:flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    text-align: center;

    font-size: 80px;
    
   }
.middleSection{
    display:flex;
    justify-content: space-evenly;




    text-align: center;
}

.socialSection{
    display:flex;
    justify-content: center;    
}
.icon {width: 100%; height: auto;}
.social {width: 5%; height: auto;}

