
 /* We are using the 'Roboto' font from Google. This has already been added to your HTML header */

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

:root {
    --light-grey: #e4e4e4;
    --orange-dark: #c05326;
    --light-orange: #fcefeb;
    --text-grey: #3e3e43;
}

/* header styling */

header {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem 0 5rem;
    background-color: var(--light-grey);
}

#menu-toggle {
    display: none;
}

.navigation_list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    
}
.navigation_item:first-child {
    font-weight: bold;
}

.navigation_item {
    list-style: none;
    padding-left: 1.5rem;
}

.navigation__link {
    color: var(--text-grey);
    text-decoration: none;
}

a:hover {
    color: var(--orange-dark);
}

/* picture sector styling */

@media screen and (min-width: 601px) {
   .picture {
        background-image: url(/img/first-background.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: calc(0.459*100vw); 
        color: var(--light-grey);
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    } 
}


.picture h2 {
    font-weight: 400;
    margin-bottom: 0;
    font-size: 4.0rem;
    /* padding-top: 2.5em; */
}

.picture p {
    font-size: 2.0rem;
    margin-top: 0.5rem; 
}

button {
    background-color: var(--orange-dark);
    width: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: x-large;
    /* margin-top: 1.5rem; */
    color: var(--light-grey);
}

button:hover {
    color: var(--orange-dark);
    background-color: var(--light-grey);
}

/* articles sector styling */

.icons {
    display: grid;
    grid-template-columns: repeat(3, 20%);
    grid-template-rows: repeat(2, auto);
    padding: 3rem 5rem 3rem 5rem;
    justify-content: center;
    column-gap: 30px;
}

.icons h2 {
    grid-column: 1 / -1;
    justify-self: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 48px;
}

.icon {
    max-width: 125px;
}

.article p {
    font-size: 24px;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

/* button section styling */

.extended {
    display: inline-flex;
    background-color: var(--light-orange);
    width: 100%;
    margin-bottom: 3rem;
}
.button_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button_2 p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 48px;
    padding: 0 20% 0 20%;
}

/* footer styling */
footer {
    border-top: 4px solid var(--light-grey);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    padding-bottom: 1.5rem;
}
footer p:first-child {
    text-align: center;
}

footer p:last-child {
    justify-self: center;
    color: grey;
}

.footer_img {
    display: inline-flex;
    justify-content: center;
}
.sm_icon {
    width: 30px;
    display: flex;
    border: 1px solid var(--light-grey);
    border-radius: 50%;
    border-spacing: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
}

/* for mobile screens */

@media only screen and (max-width: 600px) {
    .icons {
        display:flex;
        flex-direction: column;
    }

    .icons h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    .article p {
        font-size: 1.25rem;
    }

    .extended {
        display: flex;
        flex-direction: column;
        padding-bottom: 3rem;
    }

    .extended p {
        font-size: 2rem;
        padding: 2.5rem 1.2rem 1rem 1.2rem;
    }

    .picture {
        font-display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-image: url(/img/first-background.jpg);
        background-size: cover;
        background-position: 65% 10%;
        padding: 4rem 2rem 3rem 2rem;
        height: 18rem;
        
    }

    .picture h2 {
        font-weight: 100;
        margin: 0;
        font-size: 3em;
        color: var(--light-grey);
        
    }
    
    .picture p {
        font-size: 1.5rem;
        margin-top: 1.5rem; 
        font-weight: 100;
        color: var(--light-grey);
    }

    .picture button {
        font-size: medium;
    }

    #menuToggle {
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
        right: 50px;
        width: 100%;
        z-index: 1;
        margin-right: 0;
        padding-top: 10px;
        -webkit-user-select: none;
        user-select: none;
    }

    #ham {
        display: flex;
        width: 40px;
        height: 32px;
        position: absolute;
        justify-self: right;
        top: 5px;
        cursor: pointer;
        opacity: 0; 
        z-index: 2;   
        -webkit-touch-callout: none;
    }

    #menuToggle span {
        display: flex;
        flex-direction: column;
        width: 33px;
        height: 4px;
        justify-self: flex-end;
        margin-bottom: 5px;
        position: relative;
        
        background: black;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked ~ span
    {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

/*
 * But let's hide the middle one.
 */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

/*
 * Ohyeah and the last one should go the other direction
 */
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
        transform: rotate(-45deg) translate(0, -1px);
    }
}