
 /* We are using the 'Roboto' font from Google. This has already been added to your HTML header */

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */



.nav {
    background-color: #fff;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #DDD;
    z-index: 9999;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #838994;
    /* position: fixed;
    z-index: 9999; */
    

}

.logo {
    height: 3rem;
}

.right-nav {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    

}

.active {
    text-decoration: none;
    color: #4c5058;
    font-weight: 500;
}

.link {
    text-decoration: none;
    color: #838994;
    font-weight: 400;
    cursor: pointer;
    
}

.link:hover {
    color: #333;
}

.background-image {
    
}

.main-headers {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    position: relative;
    text-align: center;
    color: white;
   
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
}

.learn-more-button {
    background-color: #F15A29;
    border-color: #F15A29;
    color: white;
    font-family: arial;
    font-size: 18px;
    padding: 16px 24px;
    border: none;
    border-radius: 4px;
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/


}

.icon-container {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;

}

.icon-headers {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.device-image {
    width: 7%;
}

.coffee-image {
    width: 7%;
}

.fuel-pump-image {
    width: 7%;
}

