@import 'abstract';
@import 'normalize';
/* Add your custom styles here */
/* Remember: be organised, use comments and separate your styles into meaningful chunks */
/* For example: General styles, Navigation styles, Hero styles, Footer etc. */

/*  TIP: When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex' */
.header {
  padding: 0 0.938rem;
  margin: 0 auto;
  min-width: 37.5rem;
  height: 4.375rem;
  // background-color: blue;
  display:flex;
  position: fixed;
  width:100%;
  justify-content: center;
  border-bottom: 1px solid #DDD;
  &:focus {
    outline: none;
  }
  .logo{
    height: 4.375rem;
    // width: 4.375rem;
    // display: block;
  }
}
.container{
  width:60%;
  display: flex;
  justify-content: space-between;
  // background-color: green;
  // @include flx-center;
}
//  Navigation Section

.navigation {
  // background-color: #fff;
  // flex-grow: 1;
  width: 65%;
  @include flx-center;
  &__list{
    width: 100%;
    // background-color: green;
    display: flex;
    justify-content: space-between;
    color: #838994;
    font-size: 1.04rem;
    list-style: none;
  }
  &__item{
    &:hover{
      cursor: pointer;
      color: #333333;
    }
    &--active {
      color: #4c5058;
      font-weight: 500;
    }
  }
}







