
body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */



/* MY COMMENTS:
 Navigation Styles */

 /* body {
    background-image: url("./level-2/store-image_by-andrew-neel-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
 }
 */

header {
    justify-content: space-between;
    align-items: center;
    padding: 5px 100px;
    display: flex;
    background-color: rgb(247, 240, 240);   
    margin: 0; 
}

.content {
    display: flex;
    flex-direction: row;
}


.display-column {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.display-row {
    display: flex;
    flex-direction: row;
}

.padding {
    padding-bottom: 10px;
}

.address2 {
    padding: 20px 0 20px 0;
}

.color-orange {
    padding-right: 30px;
}
 legend {
    padding-top: 20px;
 }

.form {
    width: 780px;
    border: 3px dotted #413a36;
    padding: 50px 90px 0 90px;
}

.main-img {
    border: 3px dotted #CE5C08;
    width: 580px;
}

.orange-text {
    color: #CE5C08;
}

.input-height {
    height: 30px;
}

.color {
    color: #CE5C08;
}

#heading {
    padding-bottom: 20px;
    font-size: 3.8rem;
}

footer {
    grid-area: f;
    background-color: rgb(31, 12, 99);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin-bottom: 50px;
    border-top: 1px solid #FAF6F6;
}

.logo-img {
    max-height: 32px;
    max-width: 32px;
    display: block;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.nav-item {
    color: rgb(158, 156, 156);
    text-decoration: none;
    padding: 15px;

}

ul li a:hover {
    color: #CE5C08;
}

.nav-head {
    color: rgb(63, 57, 57);
    font-weight: 500;
    font-size: 14px;
}

#checkmark {
    border: 1px solid black;
}

button {
    background-color: #CE5C08;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    margin: 20px 0 20px 0;
}

fieldset {
    border: 0;
    padding: 10px 0px 50px 0px;
}

.footer-imgs {
    padding: 10px;
    width: 15px;
    height: 15px;
    border: 1px solid #E9ECF3;
    border-radius: 50px;
}

.footer-p {
    color: #555151;
}