
body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}


/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */


:root {
    --grey-dark: #292b2c;
    --grey-light: #FAFAFA;
    --orange: #CE5C08;
    --white: #fff;
}
/* MY COMMENTS:
Please check the following */

.checkmark-label {
    font-size: 1.2rem;
}

.margin-right {
    margin-right: 10px;
    border: 2px dotted blue;
}

.custom-checkmark {
    width: 20px;
    justify-self: flex-start;
    align-self: flex-start;
    margin: 5px;
}

.custom-checkmark:checked {
    box-sizing: border-box;
    content: url("../level-2/checkmark.svg");
    background-repeat: no-repeat;
    background-color: white;
    appearance: none;
    border: 1px solid black;
    padding: 2px;
    justify-self: flex-start;
    align-self: flex-start;
    margin: 0 10px 0 0;
}

.radio-color:checked {
    accent-color: var(--orange);
    border: 1px solid black;
}

.radio-color {
    width: 20px;
    height: 20px;
}
 /* Navigation Styles */

header {
    justify-content: space-between;
    align-items: center;
    padding: 5px 100px;
    display: flex;
    background-color: var(--grey-light);   
    margin: 0; 
}

.logo-img {
    max-height: 32px;
    max-width: 32px;
    display: block;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.nav-item {
    color: var(--grey-dark);
    text-decoration: none;
    padding: 15px;

}

ul li a:hover {
    color: #CE5C08;
}

.nav-head {
    color: var(--grey-dark);
    font-weight: 500;
    font-size: 14px;
}

.content {
    display: flex;
    flex-direction: row;
}

.heading {
    padding-bottom: 20px;
    font-size: 3rem;
    color: var(--orange);
}

.form {
    width: 780px;
    padding: 50px 90px 0 90px;
    font-size: 1.5rem;
}

.div-column {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.div-row {
    display: flex;
    flex-direction: row;
}

.label-padding {
    padding-bottom: 10px;
}

.address2 {
    padding: 20px 0 20px 0;
}

.color-orange {
    padding-right: 30px;
}

 legend {
    padding-top: 20px;
 }

.main-img {
    width: 580px;
}

.orange-text {
    color: var(--orange);
}

.input-height {
    height: 30px;
}

/* .radio-color {
    accent-color: var(--orange);
} */

.input-padding {
    margin-right: 20px;
}

.input-width {
    width: 200px;
}

.custom-select {
    width: 300px;
    height: 35px;
    font-style: italic;
    color: grey;
    font-size:medium;
    appearance: none;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6qA0AV5aK5pyy8f5I5MTztObvFsjzL5oZgg&usqp=CAU");
    background-repeat: no-repeat;
    background-position: calc(100% - 3px);
    background-size: 30px;
}

fieldset {
    border: 0;
    padding: 10px 0px 50px 0px;
}

button {
    background-color: var(--orange);
    color: white;
    width: 250px;
    height: 50px;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    margin: 20px 0 20px 0;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin-bottom: 50px;
    border-top: 1px solid #FAF6F6;
}

.footer-imgs {
    padding: 10px;
    width: 15px;
    height: 15px;
    border: 1px solid #E9ECF3;
    border-radius: 50px;
}

.footer-p {
    color: #555151;
}