* {padding: 0; margin: 0;}

.flex-container  {
  display: flex;
  justify-content: space-between;
  align-items: center;
      background: white;
}

.logo {
  margin: 0 0 0 .45em;
  margin-left: 100px;
}
    .logo a {
      color: rgb(28, 24, 22);
    }

    .logo, .navigation {
        list-style: none;
      
    }

    .logo a, .navigation a {
        text-decoration: none;
       
    }

.navigation  {
  display: flex;
}

.navigation a {
  display: block;
  padding: 1em;
  color:gray;
}

.navigation a:hover {
    background: #414647;
}

/* *********** media queries *********** */
@media all and (max-width: 990px) {
  .flex-container {
    flex-direction: column;
  }
  
  .logo {
  margin: 0;
}
  
  .navigation  {
    width: 100%;
    justify-content: space-around;
  }
}


/* ****** ****** */
@media all and (max-width: 600px) {
 
  .logo {
    margin: .25em 0;
    align-self: left; /* align the logo to the left side of 'flex-container' */
}
  
  .navigation {
    flex-direction: column;
  }
  
  .navigation  a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }
  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}


.heroImage {
  background-image: url("../img/first-background.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 735px;
  overflow: auto;
  position: relative;
  margin: 0%;
  padding: 0px;
}

.heroContents {
  padding-top: 400px;
  text-align: center;
  color: white;
}

.learnButton {
  background-color: orange;
  border: none;
  color: white;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  vertical-align: bottom;
  font-size: 1.125rem;
  line-height: 1.2;
}

button {
  width: 9.688rem;
  background-color: #f15a29;
  border-color: #f15a29;
  text-shadow: none;
  border-style: none;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  color: white;
  font-size: 1.125rem;
}
button:hover {
  background-color: #d9400e;
  border-color: #cf3d0e;
  cursor: pointer;
}

/*the second section style*/
section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  text-align: center;
  word-break: break-word;
}
section h2 {
  margin: 1.625rem 0 3.125rem;
  text-indent: 50px;
  letter-spacing: 3px;
  font-weight: normal;
  font-size: xx-large;
}

ul {
  display: flex;
  list-style: none;
  flex-direction: row;
}
section h3 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  align-self: center;
  padding-left: 1em;
  margin-left: 2em;
  width: 25vw;
}

/*social media icons*/
/*.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
*/
footer {
  margin-bottom: 1px;
  display: flex;
  margin-right: 0%;
  display: flex;
  flex-flow: row-reverse;
  justify-content: flex-end;
}

.ftr__icons {
  margin: 50px;
  display: flex;
  align-items: center;
  margin-right: 0;
}
.copyrights {
  margin: 0%;
  margin-bottom: 50px;
}

/* Responsive Design
 */
@media all and (max-width: 600px) {
  .logo {
    margin: 0.25em 0;
    align-self: left; /* align the logo to the left side of 'flex-container' */
  }

   section  ul {
    flex-direction: column;
  }

  ul h2 h3 li {
    text-align: center;
    padding: 10px;
    border-top: 1px;
    border-bottom: 1px;
  }

   li:last-of-type a {
    border-bottom: none;
  }
}