
.aside_image {
    width: 800px;
    height:900px;
}
.logo {
    height: 5px;
    width: 5px;
    float: left;
    position: fixed;
    top: 20px;
    left: 80px;
}
fieldset {
    border:none;
    margin-top: 1rem;
    padding-left: 0;
}

h1 {
    color:rgb(224, 99, 58);
    font-weight: 500;
    margin-top: 50px;
}
.main_store {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 40px;
    
}
.wrap_rows {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin:auto;
}
.wrap_column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.btn_primary {
    background-color: rgb(224, 99, 58);
    color:white;
    margin-top: 20px;
    border-radius: 5px;
    border:none;
    font-size:22px;
    padding: 30px;
}
.form {
    text-align: left;
    color:grey-light;
    width:50vw;
    margin-bottom: 40px;

}
.form_title {
    font-size: 3.5rem;
}
.first_name { 
    margin-bottom: 20px;

}
.last_name {
    margin-bottom: 20px;
     
}
.legend {
    font-size: 1.3rem;
    padding:2 px;
}
.input_radio {
    padding-left: 5px;
}