/* We are using the 'Roboto' font from Google. This has already been added to your HTML header */

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */

.bar {
  width: 100%;
  height: 70px;
  display: flex;
  background-color: white;
  position: fixed;
  z-index: 100;
  
}

.pic {
  justify-content: center;
  width: 30%;
  display: flex;
}

.logo {
  width: 35px;
  height: 70px;
  margin-left: 30%;
  margin-right: 80%;
}

.bar-right {
  width: 50%;
  height: 60px;
  display: flex;
  align-items: center;
  margin-left: 20%;
  background-color: white;
}

.bar-links {
  list-style-type: none;
}

.links {
  color: black;
  float: left;
  margin-left: 4em;
  color: #aeb1b6;
  font-size: 18px;
}

.links :hover {
  color: #ff6600;
}

li a {
  text-decoration: none;
  color: black;
}



.b-img {
  width: 100%;
  height: 90vh;
}

.text {
  color: white;
  position: absolute;
  width: 100%;
  top: 35vh;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.text :first-child {
  font-size: 70px;
}
.text :nth-child(2) {
  font-size: 50px;
}

h1 {
  font-size: 50px;
  margin: 0%;
}

p {
  font-size: 18px;
  
}


/*--------MAIN-ROW-COLUMN-GIRL---------*/
.row {
  display: flex;

}

.column {
  
  float: none;
}

.girl {
  width: 900px;
  height: 1235px;
  margin-left: 107%;
}


     /* --- tex p in row ---*/

.order p {
  color: #de6e49;
  font-family: "Roboto", sans-serif;
  font-size: 300%;
  
}

.order {
  margin-top: 7%;
  margin-left: 11%;
  position: absolute;
}

.row:after {
  display: table;
  clear: both;
}

     /* --------labels-------- */
    .labels {
     font-family: roboto;
     
    }
 
    .names-box {
      display: flex;
      justify-content: space-between;
      align-items: center; 

    }

    .inputfild2 {
      margin-inline-end: -10%;
    }

    #lname {
      width: 80%;
      padding: 10px 20px;
    }
    ::placeholder {
      color: #666666;
      font-style: italic;
    }

    #add-box {
      width: 100%;
      padding: 10px 20px;
      
    }



    .inputfild p {
      color: #666666;
      font-size: 20px;
    }
      



      .citypost {
        display: flex;
        justify-content: space-between;
        align-items: center; 
      }
      
    

      .post{
        margin-inline-end: -5%;
        width: 150px;
      }

      .city {
        width: 350px;
      }




        /* -- select-color -- */
          
        .color {
         margin-top: 80px;  
        }

         .color p {
          color: #666666;
          font-size: 21px;
         }

       .colors p{
         color: #666666;
         font-size: 18px;        
       }
         
          
        
         
        #space-grey-{
          margin-left: 50px;
          color: #666666;
        }

        .agree {
          display: flex;
        }
         /* -- select-color-end -- */

                 /* -------BUTTON-------- */

                 .button {
                  background-color: #E0633A;
                  border-radius: 4px;
                  font-size: 25px;
                  padding: 16px 35px;
                  text-decoration: none;
                  color: white;
                  }
              
              

              /* -------BUTTON-END---- */


     /* --------footer-------- */
 .f-footer {
  width: 60%;
  height: 100%;
  margin: 0px 20%;
  text-align: center;
}

.icon {
  font-size: 25px;
  text-align: center;
}
