/* .container {
        display: grid;
            grid-template-columns: auto 1fr;
            background-color: #FCEFEB;
            justify-items: center;
        
}
.homepage-feature {
    padding: 0% 10% 0% 20%;
}

.title-2 {
    color: greenyellow;
} */
