.container {
        display: grid;
            grid-template-columns: auto 1fr;
            background-color: #FCEFEB;
            justify-items: center;
        
}
.title-2 {
    color: greenyellow;
}
